<table id="calendar">
<tbody>
<tr><th>Week</th><th>Date</th><th>Content</th><th>Prep & Assignments</th></tr>
{% for org_hash in site.data.syllabus2.weeks %}
  {% capture row_index %}{% cycle 'odd', 'even' %}{% endcapture %}
  <tr class="{{row_index}}"> <td class="weeknum" rowspan="{{org_hash.basic.size}}">{{org_hash.weekNum}}</td>
	{% for day in org_hash.basic %}
	<td> {{day.date}}</td>
	<td> {% if day.contentURL %} <a href="{{day.contentURL}}"> {{day.content}}</a>
		 {% else %} {{day.content}} {% endif %} </td>
	<td>
	{% for assignment in day.assignments %}
	<a href="{{assignment.url}}">{{assignment.name}} </a> <br />
	{% endfor %}
	</td>
	<tr class="{{row_index}}">
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>
