<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-data">
    {% include sidebar.html %}
    <div>
          <div id="announcements-header" class="theme-data"> 
          <b> Announcements! </b> (<a onclick="showAnnouncements()"> See All </a>) 
          <div class="swiper-container2">
    <!-- Additional required wrapper -->
        <!-- If we need pagination -->
    
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev2"></div>
    <div class="swiper-button-next2"></div>
    
    <!-- If we need scrollbar -->
    <div class="swiper-wrapper">
      {% for announcement in site.data.announcements %}
        <div class="swiper-slide">
        {{announcement}}
        </div>
      {% endfor %}

</div>
</div>
</div>
    <div href='main' class="content container">
      {{ content }}
    </div>
    </div>
  </body>

<script>
    $(document).ready(function () {
    //initialize swiper when document ready  
    var mySwiper = new Swiper ('.swiper-container2', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,
      autoplay: 100000,
      speed: 3000,
      initialSlide:0,
      spaceBetween: 1000
    })        
  });

    function showAnnouncements(){
      basicModal.show({
    body: "<h2> Announcements </h2> <ul>{% for announcement in site.data.announcements %}<li>{{announcement}}</li>{% endfor %}</ul>",
    closable: true,
    buttons: {
        action: {
            title: 'Dismiss',
            fn: basicModal.close
        }
    }
});
    }
  </script>
  {% include analytics.html %}
</html>
